vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Apr 2007 15:01:43 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{3986297D-B201-4CAC-98FA-723667546351}
vti_backlinkinfo:VX|
vti_author:SR|KURURU\\hikari
vti_modifiedby:SR|KURURU\\hikari
vti_nexttolasttimemodified:TW|03 Jan 2007 18:52:02 -0000
vti_timecreated:TR|25 Dec 2006 19:03:26 -0000
vti_cacheddtm:TX|29 Apr 2007 15:01:43 -0000
vti_filesize:IR|7195
